<div class="directeur-form-container">
  <div class="form-header">
    <h1 class="form-title">
      <mat-icon>{{ isAddMode ? 'person_add' : 'edit' }}</mat-icon>
      {{ isAddMode ? 'Create New Recruteur' : 'Edit Recruteur' }}
    </h1>
    <p class="form-subtitle">Fill in the details below to {{ isAddMode ? 'add a new' : 'update this' }} recruteur</p>
  </div>

  <!-- Alert Messages -->
  <div class="alert-container">
    <div class="alert alert-success" *ngIf="successMessage">
      <mat-icon>check_circle</mat-icon>
      <span>{{ successMessage }}</span>
      <button mat-icon-button class="close-button" (click)="successMessage = ''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="alert alert-error" *ngIf="errorMessage">
      <mat-icon>error</mat-icon>
      <span>{{ errorMessage }}</span>
      <button mat-icon-button class="close-button" (click)="errorMessage = ''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form [formGroup]="responsableForm" (ngSubmit)="onSubmit()" class="form-card mat-elevation-z8">
    <div class="form-row">
      <!-- Left Column -->
      <div class="form-column">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Username *</mat-label>
          <input matInput formControlName="username" required>
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-error *ngIf="f['username'].errors?.['required']">Username is required</mat-error>
          <mat-error *ngIf="f['username'].errors?.['minlength']">Minimum 3 characters</mat-error>
          <mat-error *ngIf="f['username'].errors?.['maxlength']">Maximum 20 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email *</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="f['email'].errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="f['email'].errors?.['email']">Invalid email format</mat-error>
          <mat-error *ngIf="f['email'].errors?.['maxlength']">Maximum 50 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>First Name *</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-icon matPrefix>badge</mat-icon>
          <mat-error *ngIf="f['firstName'].errors?.['required']">First name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Last Name *</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-icon matPrefix>badge</mat-icon>
          <mat-error *ngIf="f['lastName'].errors?.['required']">Last name is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Right Column -->
      <div class="form-column">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Department</mat-label>
          <input matInput formControlName="department">
          <mat-icon matPrefix>business</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber">
          <mat-icon matPrefix>phone</mat-icon>
        </mat-form-field>

        <div class="gender-selection">
          <label>Gender *</label>
          <mat-radio-group formControlName="sexe" class="radio-group" required>
            <mat-radio-button value="Male" class="radio-button">
              <div class="radio-content">
                <mat-icon>male</mat-icon>
                <span>Male</span>
              </div>
            </mat-radio-button>
            <mat-radio-button value="Female" class="radio-button">
              <div class="radio-content">
                <mat-icon>female</mat-icon>
                <span>Female</span>
              </div>
            </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="f['sexe'].errors?.['required'] && (submitted || f['sexe'].touched)">
            Gender is required
          </mat-error>
        </div>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Centre *</mat-label>
          <mat-select formControlName="centre" required>
            <mat-option disabled value="">Select a Centre</mat-option>
            <mat-option *ngFor="let c of centres" [value]="c">{{c}}</mat-option>
          </mat-select>
          <mat-icon matPrefix>location_city</mat-icon>
          <mat-error *ngIf="f['centre'].errors?.['required']">Centre is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Address *</mat-label>
      <input matInput formControlName="address" required>
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-error *ngIf="f['address'].errors?.['required']">Address is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>{{ isAddMode ? 'Password *' : 'Password (leave blank to keep current)' }}</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" [required]="isAddMode">
      <mat-icon matPrefix>lock</mat-icon>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint *ngIf="!isAddMode">Leave blank to keep current password</mat-hint>
      <mat-error *ngIf="f['password'].errors?.['required'] && isAddMode">Password is required</mat-error>
      <mat-error *ngIf="f['password'].errors?.['minlength']">Minimum 6 characters</mat-error>
      <mat-error *ngIf="f['password'].errors?.['maxlength']">Maximum 40 characters</mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button mat-stroked-button type="button" (click)="onCancel()" class="cancel-button">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading" class="submit-button">
        <mat-icon *ngIf="!loading">{{ isAddMode ? 'person_add' : 'save' }}</mat-icon>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
        {{ isAddMode ? 'Create Recruteur' : 'Update Recruteur' }}
      </button>
    </div>
  </form>
</div>
